/* Page.module.css or any other CSS file */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: black; /* Set background color to black */
    color: grey; /* Set text color to grey */
  }
  
  .postList {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .postItem {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: 1px solid grey; /* Adjust border color to match text color */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
    background-color: black; /* Set post item background color to black */
  }
  
  .postItem h2,
  .postItem p {
    color: grey; /* Ensure text color is grey for headers and paragraphs */
  }

  .confirmationDialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9; /* Light grey background */
    max-width: 300px;
    margin: 20px auto;
  }
  
  .confirmationDialog p {
    margin-bottom: 15px;
    font-size: 16px;
    color: #333; /* Dark grey text */
  }
  
  .confirmButton {
    background-color: #c0c0c0; /* Light grey */
    color: #333;
    border: none;
    padding: 8px 16px;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .confirmButton:hover {
    background-color: #b0b0b0; /* Slightly darker grey on hover */
  }
  
  .cancelButton {
    background-color: #e0e0e0; /* Lighter grey */
    color: #333;
    border: none;
    padding: 8px 16px;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .cancelButton:hover {
    background-color: #d0d0d0; /* Slightly darker grey on hover */
  }
  
  .deleteButton {
    background-color: #c0c0c0; /* Light grey */
    color: #333;
    border: none;
    padding: 6px 12px; /* Smaller padding */
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .deleteButton:hover {
    background-color: #b0b0b0; /* Slightly darker grey on hover */
  }
  